.experiences {
  display: flex;
  flex-direction: column;
}

.experience__company__year {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Inconsolata, monospace;
}

.experience__item {
  width: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}

.experience__company {
  font-weight: 500;
}

.experience__position {
  font-style: italic;
}

.experience__year {
  font-size: 15px;
}
