/* SECTION PADDING */

.intro {
  padding: 120px 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 630px) {
  .intro {
    padding: 120px 70px;
  }
}

@media screen and (max-width: 550px) {
  .intro {
    padding: 120px 50px;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    padding: 70px 50px;
  }
}

/* CONTENT FONT SIZE */
.intro__title {
  font-weight: 300;
}

.intro__title,
.intro__content {
  font-size: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .intro__title,
  .intro__content {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 768px) {
  .intro__title,
  .intro__content {
    font-size: 2rem;
  }
}

@media screen and (max-width: 550px) {
  .intro__title,
  .intro__content {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 360px) {
  .intro__title,
  .intro__content {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 330px) {
  .intro__title,
  .intro__content {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 550px) {
  .intro__contact {
    font-size: 1rem;
  }
}

.intro__content {
  max-width: 600px;
}

.intro__content .name {
  color: #e9c46a;
  font-weight: 700;
}

.intro__contact .link {
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  padding: 2px 3px;
  box-shadow: inset 0 -3px 0 #e9c46a;
}

.intro__contact .link:hover {
  box-shadow: inset 0 -33px 0 0 #2a9d8f;
}

.intro__contact a {
  line-height: 2;
  display: flex;
  flex-direction: column;
}

.intro__content, .intro__contact {
  font-weight: 300;
}

.socials{
  display: flex;
  flex-direction: row;
}

.social {
  padding-right: 8px;
}