/* SECTION PADDING */

.intro {
  padding: 0px 100px 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 25px 0px 50px 50px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    padding: 50px 0px 100px 50px;
  }
}

@media screen and (max-width: 375px) {
  .intro {
    padding: 135px 0px 175px 70px;
  }
}

/* CONTENT FONT SIZE */
.intro__title,
.intro__content {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .intro__title,
  .intro__content {
    font-size: 2.5rem;
  }
  .intro__contact {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 425px) {
  .intro__title,
  .intro__content {
    font-size: 2.5rem;
  }
  .intro__contact {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 375px) {
  .intro__title,
  .intro__content {
    font-size: 2.25rem;
  }
  .intro__contact {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 320px) {
  .intro__title,
  .intro__content {
    font-size: 2.5rem;
  }
  .intro__contact {
    font-size: 1.25rem;
  }
}

.intro__content {
  max-width: 600px;
}

.intro__content .name {
  color: #e9c46a;
  font-weight: 500;
}

.intro__contact .link {
  text-decoration: none;
}

.intro__contact .email {
  font-weight: 600;
  display: inline-block;
  border-bottom: 4px solid #e9c46a;
  padding-bottom: 2px;
}

.intro__contact .email:hover {
  background-color: #2a9d8f;
}

.intro__contact a {
  color: #ffffff;
  line-height: 2;
}
