.project .content {
  display: flex;
  flex-direction: row;
}

section .projects {
  font-size: 100px;
}

.project {
  margin-bottom: 100px;
}

.project .project__name a:hover {
  box-shadow: inset 0 -33px 0 0 #2a9d8f;
}

.project .project__image {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.project .project__image img {
  max-width: 100%;
  overflow: visible;
  height: auto;
}

.phone {
  margin-left: -22px;
  margin-right: -22px;
}

.project__name {
  font-weight: 700;
}

.project__description {
  margin-bottom: 2%;
  display: block;
}

.project__languages {
  display: inline;
  font-size: 12px;
  font-family: Inconsolata, monospace;
  border: 1.5px solid;
  border-radius: 3px;
  padding: 0.5% 1% 0.5% 1%;
  color: #e9c46a;
  margin-right: 5px;
}

.projects .features {
  list-style-type: none;
  padding-top: 0;
}

.projects .features .item:before {
  content: "• "; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #e9c46a; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.projects .arrow {
  padding-left: 10px;
  display: inline-block;
  vertical-align: center;
  transition-timing-function: ease;
  color: #e9c46a;
}

.source {
  color: #e9c46a;
  font-weight: 600;
  display: block;
}

.source:hover {
  background-color: unset !important;
  color: #2a9d8f;
}
