.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  margin-right: 0.5%;
  align-items: center;
}

.sidebar .fab,
.sidebar .far {
  margin-bottom: 50px;
  transition: transform 500ms;
}

.sidebar .fab:hover,
.sidebar .far:hover {
  transform: translateY(-20px);
}

@media only screen and (max-device-width: 768px) {
  .sidebar {
    display: none;
  }
}
