html {
  max-width: 1440px;
  font-weight: 300;
  font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  background-color: #264653;
  color: #ffffff;
}
